<launch>
  <arg name="use_tls" default="false" />
  <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
    <rosparam command="load" file="$(find mqtt_bridge)/config/mqtt_to_ros_params.yaml" />
    <rosparam if="$(arg use_tls)" command="load" ns="mqtt" file="$(find mqtt_bridge)/config/tls_params.yaml" />
  </node>

  <!-- <node name="mqtt_sender" pkg="mqtt_bridge" type="mqtt_handler.py" output="screen" /> -->

</launch>
